:host {
  ion-content.login-content {
    --background: #85c9f2;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .login-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #85c9f2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 120px;
    z-index: 0;
  }

  .content-card {
    background-color: #ffffff;
    border-top-left-radius: 60px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);

    margin-top: 100px;
    min-height: calc(100vh - 100px);

    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .custom-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .page-title {
    color: #003366;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
  }

  .custom-back-button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    --color: #003366;
    font-size: 1.5rem;
  }

  .form-container {
    width: 100%;
  }

  .info-text {
    font-size: 15px;
    color: #1a1a1a;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.4;
  }

  .password-feedback-list {
    margin-top: 20px;
    text-align: left;
  }

  .password-feedback-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .password-feedback-list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .password-feedback-list li.passed {
    color: #28a745;
  }

  .password-feedback-list li.failed {
    color: #dc3545;
  }

  .password-feedback-list ion-icon {
    font-size: 1.1em;
    margin-right: 8px;
  }

  .confirm-button {
    --background: #85c9f2;
    --color: #003366;
    font-weight: 700;
    border-radius: 8px;
    height: 46px;
    font-size: 16px;
    text-transform: none;
    margin-top: 30px;
  }

  .erro-msg {
    color: #e63946;
    font-size: 13px;
    margin-top: 4px;
    font-weight: bold;
    text-align: left;
  }
}
