<ion-content class="login-content">
  <div class="logo">
    <img src="assets/SUS.png" alt="SUS Logo" />
  </div>

  <div class="white-shape">
    <div class="login-container">
      <div *ngIf="mensagemSucesso" class="mensagem-sucesso">
        <span>{{ mensagemSucesso }}</span>
        <button class="ok-button" (click)="fecharMensagem()">OK</button>
      </div>

      <ng-container *ngIf="!mensagemSucesso">
        <h1 class="login-title">Redefinir<br />senha</h1>

        <p class="info-text">
          Informe o e-mail para o qual deseja<br />
          redefinir a sua senha
        </p>

        <form [formGroup]="esqueciSenhaForm" (ngSubmit)="redefinirSenha()">
          <app-custom-input
            label="Email"
            type="email"
            placeholder="Digite seu e-mail"
            iconName="mail-outline"
            formControlName="email"
            [errorMessage]="
                emailControl?.touched
                  ? (emailControl?.hasError('required') ? 'O campo e-mail é obrigatório.' : emailControl?.hasError('email') ? 'Por favor, insira um e-mail válido.' : null)
                  : null
              "
          ></app-custom-input>

          <ion-button
            type="submit"
            expand="block"
            class="login-button"
            [disabled]="esqueciSenhaForm.invalid"
          >
            <span *ngIf="!isLoading">Redefinir</span>
            <ion-spinner *ngIf="isLoading"></ion-spinner>
          </ion-button>
        </form>

        <a routerLink="/login" class="back-link"> Voltar </a>
      </ng-container>
    </div>
  </div>
</ion-content>
