<ion-content>
  <div class="modal-container">
    <h2 class="modal-title">Adicionar Medicamento</h2>
    <p class="modal-subtitle">Selecione um medicamento.</p>

    <div class="options-list">
      <ion-item *ngFor="let item of sugestoes" lines="full" class="option-item">
        <ion-label>{{ item.nome }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="item.selecionado"></ion-checkbox>
      </ion-item>
    </div>

  </div>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-button fill="clear" class="cancel-button" (click)="cancelar()">
        Cancelar
      </ion-button>
      <ion-button class="save-button" (click)="salvar()" slot="end">
        Salvar
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
