.appointment-card {
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s ease;

  &.cancelled {
    opacity: 0.7;

    .card-content {
      opacity: 0.8;
    }
  }
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 8px;
  border-top: 1px solid var(--ion-color-step-150, #e0e0e0);

  &.card-footer-removed {
    justify-content: center;
    ion-button {
      --color: var(--ion-color-medium-shade);
    }
  }
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 16px;
  background-color: #9adaff;
  border-bottom: 1px solid var(--ion-color-step-150, #e0e0e0);

  .date-time {
    .date {
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--ion-color-dark);
    }
    .time {
      font-size: 1rem;
      color: black;
      margin-top: 8px;
    }
  }

  .status {
    .status-chip {
      height: 26px;
      font-size: 0.75rem;
      margin: 0;
      display: flex;
      align-items: center;
      border-radius: 12px;

      ion-label {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

.card-content {
  padding-top: 12px;
  padding-bottom: 8px;

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    ion-icon {
      font-size: 1.4rem;
      color: var(--ion-color-medium);
      margin-right: 12px;
    }

    ion-label {
      h2 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }
      p {
        font-size: 0.9rem;
        color: var(--ion-color-medium);
        margin: 0;
      }
    }
  }
}
