ion-toolbar {
  --background: var(--app-color-header-bg);

  .cabecalho-container {
    display: flex;
    align-items: center;

    width: 100%;
    justify-content: space-between;
  }
}

.header-logo-img {
  height: 30px;
}

ion-buttons[slot="end"] ion-icon {
  color: var(--app-color-white);
  font-size: 24px;
}
