ion-toolbar {
  --background: var(--app-color-header-bg); 
}

.header-logo-img {
  height: 30px;
  margin-left: 16px;
}

ion-buttons[slot="end"] ion-icon {
  color: var(--app-color-white);
  font-size: 24px;
}