:host {
  ion-content.cadastro-content {
    --background: #85c9f2;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .content-card {
    background-color: #ffffff;
    border-top-left-radius: 60px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);

    margin-top: 120px;

    padding: 25px;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .custom-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .page-title {
    color: #003366;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
  }

  .custom-back-button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    --color: #003366;
    font-size: 1.5rem;
  }

  .form-container {
    margin-top: 10px;
    width: 100%;
  }

  .form-field {
    margin-bottom: 14px;
    text-align: left;
    position: relative;
  }

  .password-feedback-list {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 0;
  }

  .password-feedback-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .password-feedback-list li {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5px;
    transition: color 0.3s ease;
    font-weight: 500;
    color: #888;
  }

  .password-feedback-list li.passed {
    color: #28a745;
  }

  .password-feedback-list li.failed {
    color: #dc3545;
  }

  .password-feedback-list ion-icon {
    font-size: 1.1em;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
  }

  .register-button {
    --background: #85c9f2;
    --color: #003366;
    font-weight: 700;
    border-radius: 8px;
    height: 46px;
    font-size: 16px;
    text-transform: none;
    margin-top: 20px;
  }

  .erro-msg {
    color: #e63946;
    font-size: 13px;
    margin-top: 4px;
    font-weight: bold;
    text-align: left;
  }
}
