:host {
  ion-content.cadastro-content {
    --background: #85c9f2;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .content-card {
    background-color: #ffffff;
    border-top-left-radius: 60px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);

    margin-top: 120px;

    padding: 25px;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .custom-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .page-title {
    color: #003366;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
  }

  .custom-back-button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    --color: #003366;
    font-size: 1.5rem;
  }

  .form-container {
    margin-top: 10px;
    width: 100%;
  }

  .form-field {
    margin-bottom: 14px;
    text-align: left;
    position: relative;
  }

  .form-field ion-label {
    font-size: 15px;
    font-weight: 600;
    color: #003366;
    margin-bottom: 4px;
    display: block;
  }

  .custom-input {
    --background: #f2f2f8;
    border-radius: 8px;
    height: 48px;
    padding: 8px;
    font-size: 16px;
    --color: #000000;
    --placeholder-color: #999999;
  }

  .register-button {
    --background: #85c9f2;
    --color: #003366;
    font-weight: 700;
    border-radius: 8px;
    height: 46px;
    font-size: 16px;
    text-transform: none;
    margin-top: 20px;
  }

  .password-icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 10;
    font-size: 1.4rem;
    color: #888;
  }

  /* Erros */
  .erro-msg {
    color: #e63946;
    font-size: 13px;
    margin-top: 4px;
    font-weight: bold;
  }

  .form-field ion-input.ng-invalid.ng-touched {
    --border-color: #e63946 !important;
    border: 2px solid #e63946 !important;
    border-radius: 8px;
  }

  .form-field ion-input.ng-invalid.ng-touched::part(native) {
    background: #f2f2f8 !important;
  }
}
