:host {
  ion-content.login-content {
    --background: #85c9f2;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .content-card {
    background-color: #ffffff;
    border-top-left-radius: 60px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);

    margin-top: 100px;

    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 100px);
  }

  .custom-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .page-title {
    color: #003366;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
  }

  .custom-back-button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    --color: #003366;
    font-size: 1.5rem;
  }

  .token-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .info-text {
    font-size: 15px;
    color: #1a1a1a;
    margin-bottom: 30px;
    line-height: 1.4;
  }

  .confirm-button {
    --background: #85c9f2;
    --color: #003366;
    font-weight: 700;
    border-radius: 8px;
    height: 46px;
    font-size: 16px;
    text-transform: none;
    margin-top: 30px;
  }
}
