/* --- Header --- */
ion-toolbar {
  --background: var(--app-color-header-bg);
}
ion-title {
  color: var(--app-color-primary-dark);
  font-weight: bold;
}
ion-back-button {
  color: var(--app-color-primary-dark);
}

/* --- Content --- */
ion-content {
  --background: var(--app-color-white);
}

.content-padding {
  padding: 0 16px;
  padding-top: 20px;
}

.page-title {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--app-color-primary-dark);
  margin-bottom: 24px; 
  padding-left: 4px; 
}

.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;
  height: 70vh; 
  justify-content: center;
  
  padding: 0 20px;
}

.main-title {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--app-color-primary-dark);
  margin-bottom: 16px;
  line-height: 1.3;
}

.description-text {
  font-size: 0.9em;
  color: #333;
  line-height: 1.5;
}