<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/servicos"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="content-padding">
    
    <h3 class="page-title">RESULTADOS DOS EXAMES</h3>

    <div class="empty-state-container">

      <h2 class="main-title">
        Você ainda não tem registro de exames.
      </h2>

      <p class="description-text">
        Ao realizar um exame, o resultado aparece nesta página em formato PDF, para que você visualize o resultado.
      </p>

    </div> </div> </ion-content>