<div class="api-select-wrapper">
  <ion-item
    class="api-select-item"
    [class.ion-invalid]="error"
    [class.ion-touched]="error"
  >
    <ion-spinner
      *ngIf="loading"
      name="crescent"
      class="loading-spinner"
    ></ion-spinner>

    <ion-select
      *ngIf="!loading"
      [label]="label"
      [value]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (ionChange)="onValueChange($event)"
      interface="action-sheet"
      class="api-select"
    >
      <ion-select-option *ngFor="let option of options" [value]="option.value">
        {{ option.text }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</div>
