<ion-content class="login-content">
  <div class="white-shape">
    <div class="login-container">
      <h1 class="login-title">Login</h1>

      <form [formGroup]="loginForm" (ngSubmit)="fazerLogin()">
        <div class="input-group">
          <app-custom-input
            label="Usuário"
            placeholder="Digite seu e-mail"
            type="email"
            formControlName="usuario"
            [errorMessage]="
      loginForm.get('usuario')?.touched && loginForm.get('usuario')?.invalid
        ? (loginForm.get('usuario')?.hasError('required')
            ? 'O usuário é obrigatório.'
            : 'O e-mail deve ser válido.')
        : null
    "
          ></app-custom-input>
        </div>

        <div class="input-group">
          <app-custom-input
            label="Senha"
            placeholder="Digite sua senha"
            type="password"
            formControlName="senha"
            [errorMessage]="
            loginForm.get('senha')?.touched && loginForm.get('senha')?.invalid
              ? (loginForm.get('senha')?.hasError('required')
                  ? 'A senha é obrigatória.'
                  : loginForm.get('senha')?.hasError('minlength')
                  ? 'A senha deve ter pelo menos 8 caracteres.'
                  : null)
              : null
          "
          ></app-custom-input>
        </div>

        <a routerLink="/esqueci-minha-senha" class="forgot-password">
          Esqueci minha senha
        </a>

        <ion-button
          type="submit"
          expand="block"
          class="login-button"
          [disabled]="loginForm.invalid || isLoading"
        >
          <span *ngIf="!isLoading">Entrar</span>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
        </ion-button>

        <p class="signup-text">
          Não tem conta?
          <a routerLink="/cadastro" class="signup-link">Cadastre-se</a>
        </p>
      </form>
    </div>
  </div>
</ion-content>
