:host {
  ion-content.login-content {
    --ion-background-color: #85c9f2;
    --background: #85c9f2;
    position: relative;
    height: 100%;
  }

  .white-shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    border-top-left-radius: 120px;
    border-top-right-radius: 0px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
  }

  .login-container {
    width: 85%;
    max-width: 320px;
    text-align: center;
  }

  .login-title {
    font-weight: 800;
    color: #003366;
    font-size: 45px;
    margin-bottom: 30px;
  }

  .input-group {
    text-align: left;
    margin-bottom: 18px;
    position: relative;

    label {
      font-size: 15px;
      font-weight: 600;
      color: #003366;
      display: block;
      margin-bottom: 6px;
    }

    ion-input {
      --background: #f2f2f8;
      --color: #000000;
      --padding-start: 12px;

      border: 1px solid #e0e0e0;
      border-radius: 8px;
      height: 48px;
      font-size: 16px;
    }
  }

  .password-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(0);

    z-index: 10;
    font-size: 1.4rem;
    color: #888;
  }

  .input-group ion-input[formControlName="senha"] {
    --padding-end: 40px !important;
  }
  .forgot-password {
    display: block;
    text-align: left;
    font-size: 13px;
    color: #0033cc;
    margin-bottom: 25px;
    text-decoration: none;
  }

  .login-button {
    --background: #85c9f2;
    --color: #003366;
    font-weight: 700;
    border-radius: 8px;
    height: 46px;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .signup-text {
    font-size: 14px;
    color: #333;

    .signup-link {
      color: #0033cc;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .error-message {
    color: #d9534f;
    font-size: 13px;
    margin-top: 4px;
    padding-left: 4px;
  }

  .input-group ion-input.ng-invalid.ng-touched {
    border: 2px solid #d9534f !important;
    border-radius: 8px;
  }

  .input-group ion-input:focus-within {
    border: 2px solid #85c9f2 !important;
    border-radius: 8px;
  }

  .input-group ion-input.ng-invalid.ng-touched:focus-within {
    border: 2px solid #d9534f !important;
  }
}
